.footer {
  position: sticky;
  width: 100%;

  // background-color: red;

  height: var(--footer-height);

  z-index: 10;

  svg {
    width: 100%;
    height: var(--footer-height);
    fill: var(--footer-bg-color);
  }
}
